* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


@font-face {
    font-family: 'Br Cobane';
    src: url('../Fonts//BRCobane-Regular.otf');
}

@font-face {
    font-family: 'Br Cobane Bold';
    src: url('../Fonts//BRCobane-Bold.otf');
}



.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    padding-top: 60px;
    padding-left: 140px;
    padding-right: 140px;
    position: relative;
    color: #FFF;
    overflow: hidden;
}

.hero-words h1 {
    font-family: 'Br Cobane Bold';
    font-weight: 900;
    font-size: 48px;
    max-width: 85%;
    color: #00003B;
}

.hero-words h1 span {
    text-decoration: line-through 4px red;
}

.hero-p {
    margin-top: 7px;
    max-width: 90%;
    font-family: 'BR Cobane';
    color:  #2B2139;
}

.hero-img {
    width: 570px;
    background: transparent;
}

.image-container {
    background-image: url('../Images//blue-shaped-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.orange {
    position: absolute;
    top: 60px;
    right: 110px;
}

.blue-burry {
    position: absolute;
    left: 0px;
    z-index: -1;
}

.blue-burry2 {
    position: absolute;
    bottom: 0px;
    left: 300px;
    z-index: -1;
}

.orange-burry {
    position: absolute;
    left: 250px;
    top: 5px;
    z-index: -1;
}

.orange-burry-2 {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
}

.card-1,
.card-2 {
    position: absolute;
}

.card-1 {
    right: 55px;
    z-index: 3;
}

.card-2 {
    bottom: 35px;
    right: 430px;
    z-index: 3;
}



.sponsors-container h2 {
    text-align: center;
    color: #00003B;
    font-family: 'Br Cobane Bold';
    margin: 40px 0px;
}

.sponsors {
    width: 80%;
    margin: 20px auto 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.sponsors svg {
    color: #9A9EA6;
}

.decide-container {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.decide-container h1 {
    color: #00003B;
    font-family: 'Br Cobane Bold';
}

.decide-container p {
    font-family: 'Br Cobane Bold';
}

.decision-option-container {
    display: flex;
    gap: 3em;
    margin-top: 60px;
}

.illustration-container {
    width: 85%;
    margin: 100px auto 20px auto; 
}

.illustrations {
 
    display: grid;
    grid-template-columns: auto auto;
    gap: 2em;
    position: relative;
}

.safe {
    margin-bottom: 30px;
}

.safe h1 {
    color: #00003B;
    font-family: 'Br Cobane';
}

.safe p {
    max-width: 84%;
    line-height: 1.5;
    font-family: 'Br Cobane';
}

.illustration-inner-1,
.illustration-inner-2 {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.Bg {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.safe-container {
    width: 80%;
    background: #1A4BF4;
    margin: 80px auto;
    border-radius: 15px;
}

.safe-container-inner {
    background-image: url('../Images/wobbly.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    padding: 80px 0px;
}

.safe-container-inner h2 {
    color: #FFF;
    padding-bottom: 10px;
}

.safe-container-inner p {
    color: #FFF;
    padding-bottom: 18px;
}

@media (max-width: 1024px) {

    .image-container {
        background-size: contain;
    }

    .hero-section {
        padding-left: 80px;
        padding-right: 80px;
    }

    .hero-words h1 {
        font-size: 42px;
    }

    .hero-words p {
        width: 80%;
    }

    .hero-img {
        width: 400px;
    }

    .card-1 {
        width: 175px;
    }

    .card-2 {
        width: 265px;
    }

    .blue-burry2 {
        width: 60%;
    }

    .orange-burry {
        width: 60%;
    }

    .orange {
        right: 60px;
    }
  
}

@media (max-width: 768px) {
    .decision-option-container {
        transform: scale(.76);
    }

    .decide-container h1,
    .decide-container p {
        text-align: center;
    }

    .safe h1 {
        font-size: 30px;
    }

    .safe p {
        max-width: 100%;
    }

    .hero-section {
        padding-left: 45px;
        padding-right: 45px;
    }

    .hero-words h1 {
        font-size: 34px;
    }

    .hero-img {
        width: 20em;
    }

    .card-1 {
        width: 140px;
        right: 40px;
    }

    .card-2 {
        width: 200px;
        right: 260px;
    }
}

@media (max-width: 425px) {
    .decision-option-container {
        transform: scale(1);
        flex-direction: column;
    }

    .illustrations {
        display: flex;
        flex-direction: column-reverse;
    }

    .hero-section {
        flex-direction: column;
    }

    .hero-words{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    }

    .hero-words h1 {
        font-size: 33px;
    }

    .orange {
        left: 12px;
        top: 250px;
    }

    .card-2 {
        width: 182px;
        right: 212px;
    }

    .sponsors-container h2 {
        font-size: 21px;
    }

    .sponsors {
        gap: 12px;
    }

    .sponsors svg {
        width: 100%;
    }

    .safe-container-inner h2 {
        font-family: 'Br Cobane Bold';
        font-size: 20px;
    }

    .safe-container-inner p {
        font-family: 'Br Cobane';
        font-size: 14px;
    }

    .card-1 {
        right: 18px;
    }

    .card-2 {
        right: 186px;
    }

}

@media (max-width: 375px) {
    .hero-words h1 {
        font-size: 27px;
    }

    .sponsors-container h2 {
        font-size: 20px;
    }

    .safe-container {
        width: 85%;
    }
}

@media (max-width: 320px) {
    .hero-words h1 {
        font-size: 23px;
    }

    .hero-words p {
        font-size: 12px;
    }

    .hero-img {
        width: 16em;
    }

    .card-1 {
        width: 100px;
        right: 42px;
    }

    .card-2 {
        width: 138px;
        right: 160px;
    }

    .orange {
        top: 237px;
    }

    .decide-container h1 {
        font-size: 18px;
        margin-bottom: 12px;
    }

    .decide-container p {
        font-family: 12px;
    }

    .safe-container {
        width: 92%;
    }
}

@media (max-width: 280px) {
    .hero-words h1 {
        font-size: 19px;
    }

    .hero-words p {
        font-size: 10px;
    }
}

/*MEDIA QUERIES FOR LARGER SCREEN SIZES*/
@media (min-width: 1600px) {
    .illustrations {
        grid-template-columns: 2fr 2fr;
    }

    .illustration-container {
        width: 80%;
    }
}